legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #4b2c82;
}

.grid {
    margin-top: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    border: none;
    
    background: #fdfdfd;
    border-radius: 15px;
}


.full-width {
    grid-column: span 2;
}

.field-group {
    display: flex;
    flex-direction: column;
}

.field-group label, .full-width label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.options-group {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

button {
    background-color: #4b2c82;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #361d63;
    transform: scale(1.02);
}


.campo-comentario {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    font-weight: bold;
}


textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-family: inherit;
    resize: vertical;
    box-sizing: border-box;
}

textarea:focus {
    border-color: #4b2c82;
    outline: none;
    box-shadow: 0 0 5px rgba(75, 44, 130, 0.2);
}